.labelmaker-container * {
  box-sizing: border-box;
}

.labelmaker-container {
  position: relative;
  overflow: hidden;
}

  .labelmaker-container img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .labelmaker-container a {
    color: #fff;
    text-decoration: underline;
  }

.labelmaker-point {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #fff;
  cursor: pointer;
  z-index: 5;
  opacity: .9;
  -webkit-transform: translate3d(0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.labelmaker-bubble,
.labelmaker-bubble-inner {
  max-width: 220px;
  max-height: 140px;
}

.labelmaker-bubble {
  position: absolute;
  left: -1000px;
  top: -1000px;
  opacity: 0;
  border-radius: 6px;
  background-color: rgb(44, 44, 44);
  color: #fff;
  z-index: 10;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

  .labelmaker-bubble img {
    max-width: 100%;
    margin-bottom: 10px;
  }

  .labelmaker-bubble.active {
    opacity: 1;
  }

.labelmaker-bubble-inner {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  overflow-y: auto;
}

.labelmaker-bubble-inner::-webkit-scrollbar {
  display: none;
}

.labelmaker-bubble.scrollable:before {
  content: '';
  height: 12px;
  border-radius: 6px;
  background: -webkit-linear-gradient(top, rgb(44, 44, 44) 0%, rgb(44, 44, 44) 50%, rgba(55, 35, 18, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.labelmaker-bubble.scrollable:after {
  content: '';
  height: 12px;
  border-radius: 6px;
  background: -webkit-linear-gradient(bottom, rgb(44, 44, 44) 0%, rgb(44, 44, 44) 50%, rgba(55, 35, 18, 0) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 600px) {
  .labelmaker-point {
    width: 16px;
    height: 16px;
    border: 2px solid #000;
  }

  .labelmaker-bubble-inner,
  .labelmaker-bubble {
    max-width: 180px;
    max-height: 90px;
  }

}
